@import url('https://fonts.googleapis.com/css2?family=Anton&family=Be+Vietnam+Pro&display=swap');
/*
font-family: 'Anton', sans-serif;
font-family: 'Be Vietnam Pro', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    color: #925DD4;
    background-color: #1e1e1e;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    background: #0f0f0f;
    height: calc(100vh + 60px);
    overflow: hidden;
}
h1{
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 500;
}
h1 i{
    padding: 5px;
    color: #925DD4;
}
.name::first-line{
    background-color: #925DD4;
    color: #1E1E1E;
}
.name{
    font-size: 17px;
}
#header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #1E1E1E;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 290px;
    padding-block: 12px;
    margin-bottom: 20px;
    transition: .6s;
}
a:hover{
    color: #fff;
    background-color: #925DD4;
    border: 1px solid #fff;
}
span{
    color: #925DD4;
}
#boxLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    padding: 15px 26px 0px 26px;
}

footer{
    color: #D9D9D9;
    padding-inline: 40px;
    text-align: center;
    margin-top: 15px;
}


@media (min-width: 800px){
    h1{
        margin-top: 100px;
    }
}