/* font-family: Polka, sans-serif; */

@font-face {
    font-family: "Polka Outline";
    src: url('fonts/polka-outline.otf'), url('fonts/polka-outline.ttf');
}

@font-face {
    font-family: "Coolvetica";
    src: url('fonts/coolvetica rg.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Coolvetica', sans-serif;
    overflow-x: hidden;
}

:root {
    --black: #0B0B0B;
    --white: #FBFBFB;
    --red: #FF4140;
    --grey: #7D7E82;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    position: relative;
    top: -4rem;
}


img.photoprofile {
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 2px solid var(--white);
    transition: all .3s ease-in-out;

}

img:hover.photoprofile {
    scale: .9;
}

h1 {
    color: var(--white, #FBFBFB);
    text-align: center;
    font-size: 23.05px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.277px; /* 92.308% */
    text-transform: capitalize;
    margin-bottom: .5rem;
}

h2 {
    color: var(--grey-2, #7D7E82);
    text-align: center;
    font-size: 16.845px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.55px; /* 92.308% */
    text-transform: capitalize;
    margin-bottom: 1.3rem;
}

header .svg-div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* btn */
.div-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block: 2.6rem;
    position: relative;
    top: -4rem;
}

.div-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    height: 83px;
    margin-bottom: 1.6rem;
    border-radius: 5px;
    background-color: #131313;
    color: var(--white);
    text-align: center;
    font-family: Coolvetica;
    font-size: 27.126px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.039px; /* 92.308% */
    text-transform: capitalize;
}


.div-btn .btn1 {
    background-image: url('./assets/btn1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.div-btn .btn2 {
    background-image: url('./assets/btn2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.div-btn .btn3 {
    background-image: url('./assets/btn3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.div-btn .btn4 {
    background-image: url('./assets/btn4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    display: block;
    margin-bottom: 1.8rem;
    color: var(--grey-2, #7D7E82);
    text-align: center;
    font-family: Coolvetica;
    font-size: 11.23px;
    font-style: normal;
    font-weight: 400;
    line-height: 10.366px; /* 92.308% */
    text-transform: capitalize;
}


.blur1 {
    position: fixed;
    right: 0;
    bottom: 5vh;
    z-index: -1;
    width: 100px;
}
.blur2 {
    position: fixed;
    left: 0;
    bottom: 0vh;
    z-index: -1;
    width: 100px;
}