@import url('https://fonts.googleapis.com/css2?family=Anton&family=Be+Vietnam+Pro&display=swap');
/*
font-family: 'Anton', sans-serif;
font-family: 'Be Vietnam Pro', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    color: #fff;
    background-color: #1e1e1e;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    background: #080808;
    height: calc(100vh + 60px);
    color: #fff;
}
h1{
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 5px;
}
h1 i{
    padding: 5px;
    color: #da4242;
}
h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
}
.name::first-line{
    color: #D9D9D9;
}
.name{
    font-size: 17px;
}
#header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
#header img {
    border-radius: 50%;
    border: 3px solid #fff;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #fff;
    background-color: #1E1E1E;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    padding-block: 17px;
    margin-bottom: 26px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}
a:hover{
    color: #fff;
    border: 2px solid #fff;
    filter: saturate(150%);
    font-size: 21px;
}
span{
    color: #925DD4;
}
#boxLinks{
    display: flex;
    align-items: left;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    padding: 15px 26px 0px 26px;
}
.lastBtn{
    margin-bottom: 0px;
}

footer{
    color: #D9D9D9;
    padding-inline: 40px;
    text-align: center;
    margin-top: 15px;
}

footer small{
    color: #D9D9D9;
    padding-bottom: 15px;
}

/* Buttons */
#btn1{
    background-color: #da4242;
    color: #fff;
}
.btn2{
    background-color: #3AAF62;
    color: #fff;
}
#btn3{
    background-color: #446ab2;
    color: #fff;
}
#btn4{
    background-color: #3E6EE9;
    color: #fff;
}
#btn5{
    background-color: #282A36;
    color: #fff;
}
#btn6{
    background-color: #1E1E1E;
    color: #fff;
}
